@model ProjectPet.Models.Item

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<body>
    <header>
        <div class="container_12">
            <div class="grid_12">
                <h1><img src="~/images/logo.png" alt=""> </h1>
                <div class="menu_block">
                    <nav>
                        <ul class="sf-menu">
                            <li> @Html.ActionLink("Home", "Admin", "Home")</li>
                            <li> @Html.ActionLink("Customers", "Customer", "Customer")</li>
                            <li>
                                @Html.ActionLink("Employees", "Emp", "Employee")
                            </li>
                            <li class="current"> @Html.ActionLink("Items", "Item", "Item")</li>
                            <li> @Html.ActionLink("Billing", "Employ", "Home")</li>
                            <li> @Html.ActionLink("Pets", "ViewPet", "Pet")</li>
                        </ul>
                    </nav>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </header>
</body>

<style>
    h3 {
        font: bold 100% sans-serif;
        letter-spacing: 0.5em;
        text-align: center;
        text-transform: uppercase;
        color: black;
        font-size: large;
    }

    div.Container {
        margin-top: 20px;
        border-radius: 10px;
    }
</style>

<center>
    <div class="Container border-r-0 bg-purple-700">
        <h3>Add New Items</h3>
    </div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <br />
    <br />

    <form action="#" method="post">
        @Html.AntiForgeryToken()
        <br />

        <div class="form-group" style="color:black">
            <div style="font-size:160%">
                @Html.LabelFor(model => model.ItemId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.EditorFor(model => model.ItemId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ItemId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div class="form-group" style="color:black">
            <div style="font-size:160%">
                @Html.LabelFor(model => model.ItemName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div class="form-group" style="color:black">
            <div style="font-size:160%">
                @Html.LabelFor(model => model.ItemPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.EditorFor(model => model.ItemPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ItemPrice, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="control-label col-md-2">
                    <input type="submit" value="Save" class="btn btn-default" />
                    <br />

                    <a class="btn btn-primary btn-sm" href="@Url.Action("Item")">Back</a>
                </div>
            </div>
        </div>
    </form>
</center>

}
