@model IEnumerable<ProjectPet.Models.Item>

@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<body>
    <header>
        <div class="container_12">
            <div class="grid_12">
                <h1><img src="~/images/logo.png" alt=""> </h1>
                <div class="menu_block">
                    <nav>
                        <ul class="sf-menu">
                            <li> @Html.ActionLink("Home", "Admin", "Home")</li>
                            <li > @Html.ActionLink("Customers", "Customer", "Customer")</li>
                            <li>
                                @Html.ActionLink("Employees", "Emp", "Employee")
                            </li>
                            <li class="current"> @Html.ActionLink("Items", "Item", "Item")</li>
                            <li> @Html.ActionLink("Billing", "Employ", "Home")</li>
                            <li> @Html.ActionLink("Pets", "ViewPet", "Pet")</li>
                        </ul>
                    </nav>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </header>
</body>
<style>
    h3 {
        font: bold 100% sans-serif;
        letter-spacing: 0.5em;
        text-align: center;
        text-transform: uppercase;
        color: black;
        font-size: large;
    }

    table, td, th {
        border: 1px solid black;
    }

    table {
        border-collapse: collapse;
        width: 50%;
    }

    td {
        text-align: center;
    }

    th {
        font-size: 15px;
        color: black;
    }
</style>
<center>
    <div>
        <div>
            <br />
            <div class="Container border-r-0 bg-purple-700">
                <h3>Item Details</h3>
            </div>
            <hr class="hr-dotted" />
            <div class="Container well">


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <br />
                        <a class=" btn btn-primary btn-sm" href="@Url.Action("Create")">Create</a>
                        <br />


                    </div>
                </div>
            </div>
            <br />
            <br />

            <table class="table" style="width:100%">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemPrice)
                    </th>
                   
                    <th>

                    </th>

                </tr>
                @foreach (var it in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => it.ItemId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => it.ItemName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => it.ItemPrice)
                        </td>
                        
                        <td>
                            <a class="btn btn-primary btn-sm" href="@Url.Action("Edit",it)">Edit</a>
                            <a class="btn btn-primary btn-sm" href="@Url.Action("Delete",it)">Delete</a>

                        </td>
                    </tr>
                }
            </table>
            <iframe></iframe>
        </div>
    </div>
</center>



