@model ProjectPet.Models.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<body>
        <div class="container">
            <center>
                <h2 style="color:darkmagenta">Welcome To Purple Pets</h2>
                <h3 style="color:deeppink">Register Now</h3>
            </center>
            <form action="#" method="post">

                <div class="input-container">
                    <center>

                        <h3> Enter Name</h3>
                        @Html.EditorFor(model => model.User_Name, new { httpAttributes = new { @class = "Cntrol col-md-2", placeholder = "Enter Name" } })

                        <h3>Enter Email</h3>
                        @Html.EditorFor(model => model.User_Email, new { httpAttributes = new { @class = "Cntrol col-md-2" } })



                        <h3>Phone NO</h3>
                        @Html.EditorFor(model => model.PhoneNo, new { httpAttributes = new { @class = "Cntrol col-md-2" } })

                        <h3>Enter Password</h3>
                        @Html.EditorFor(model => model.Password, new { httpAttributes = new { @class = "Cntrol col-md-2" } })

                        <h3>Confirm Password</h3>
                        @Html.EditorFor(model => model.Re_Password, new { httpAttributes = new { @class = "Cntrol col-md-2" } })

                       <h3>Enter DOB</h3>
                        @Html.EditorFor(model => model.DOB, new { httpAttributes = new { @class = "Cntrol col-md-4"}})

                        <br />

                        <div class="clearfix">
                            <button type="button" class="cancelbtn">Cancel</button>
                            <button type="submit" class="signupbtn">Register</button>
                        </div>

                    </center>
                </div>

            </form>
        </div>
    <div class="clear"></div>
</body>
      


