@model ProjectPet.Models.Employee
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<body>
    <header>
        <div class="container_12">
            <div class="grid_12">
                <h1><img src="~/images/logo.png" alt=""> </h1>
                <div class="menu_block">
                    <nav>
                        <ul class="sf-menu">
                            <li > @Html.ActionLink("Home", "Admin", "Home")</li>
                            <li> @Html.ActionLink("Customers", "Customer", "Customer")</li>
                            <li class="current">
                                @Html.ActionLink("Employees", "Emp", "Employee")
                            </li>
                            <li> @Html.ActionLink("Items", "Item", "Item")</li>
                            <li> @Html.ActionLink("Billing", "Employ", "Home")</li>
                            <li> @Html.ActionLink("Pets", "ViewPet", "Pet")</li>
                        </ul>
                    </nav>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </header>
</body>

<style>
    h3 {
        font: bold 100% sans-serif;
        letter-spacing: 0.5em;
        text-align: center;
        text-transform: uppercase;
        color: black;
        font-size: large;
    }
</style>

<center>
    <br />
    <div class="Container border-r-0 bg-purple-700">
        <h3>Employee Details</h3>
    </div>
    <hr class="hr-dotted" />


    <div class="Container well">

        <form action="#" method="post">
            @Html.AntiForgeryToken()
            <br />
            <div class="form-group" style="color:black">
                <div style="font-size:150%">

                    @Html.LabelFor(model => model.EmpId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EmpId, new { htmlAttributes = new { @class = "form-control text-capitalize" } })
                        @Html.ValidationMessageFor(Model => Model.EmpId, "", new { @class = "text-danger" })


                    </div>
                </div>
            </div>
            <br />
            <div class="form-group" style="color:black">
                <div style="font-size:150%">

                    @Html.LabelFor(model => model.EmpName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EmpName, new { htmlAttributes = new { @class = "form-control text-capitalize" } })
                        @Html.ValidationMessageFor(Model => Model.EmpName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br />

            <div class="form-group" style="color:black">
                <div style="font-size:150%">
                    @Html.LabelFor(model => model.EmpMail, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EmpMail, new { htmlAttributes = new { @class = "form-control text-capitalize" } })
                        @Html.ValidationMessageFor(Model => Model.EmpMail, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br />

            <div class="form-group" style="color:black">
                <div style="font-size:150%">
                    @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control text-capitalize" } })
                        @Html.ValidationMessageFor(Model => Model.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br />

            <div class="form-group" style="color:black">
                <div style="font-size:150%">
                    @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control text-capitalize" } })
                        @Html.ValidationMessageFor(Model => Model.DOB, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br />

            <div class="form-group" style="color:black">
                <div style="font-size:150%">

                    @Html.LabelFor(model => model.DOJ, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DOJ, new { htmlAttributes = new { @class = "form-control text-capitalize" } })
                        @Html.ValidationMessageFor(Model => Model.DOJ, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br />



            <div class="form-group" style="color:black">
                <div style="font-size:150%">

                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control text-capitalize" } })
                        @Html.ValidationMessageFor(Model => Model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br />


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                    <br />

                    <a class="btn btn-primary btn-sm" href="@Url.Action("Emp")">Back</a>
                </div>

            </div>



        </form>
    </div>

</center>