@model ProjectPet.Models.Employee
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<body>
    <header>
        <div class="container_12">
            <div class="grid_12">
                <h1><img src="~/images/logo.png" alt=""> </h1>
                <div class="menu_block">
                    <nav>
                        <ul class="sf-menu">
                            <li> @Html.ActionLink("Home", "Admin", "Home")</li>
                            <li> @Html.ActionLink("Customers", "Customer", "Customer")</li>
                            <li class="current">
                                @Html.ActionLink("Employees", "Emp", "Employee")
                            </li>
                            <li> @Html.ActionLink("Items", "Item", "Item")</li>
                            <li> @Html.ActionLink("Billing", "Employ", "Home")</li>
                            <li> @Html.ActionLink("Pets", "ViewPet", "Pet")</li>
                        </ul>
                    </nav>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </header>
</body>

<style>
    h3 {
        font: bold 100% sans-serif;
        letter-spacing: 0.5em;
        text-align: center;
        text-transform: uppercase;
        color: black;
        font-size: large;
    }

    dt {
        font-weight: bold;
        color: black;
    }
</style>


<center>
    <br />
    <div class="Container border-r-0 bg-purple-700">
        <h3>Do you want to delete this &#128542 </h3>
    </div>
    <hr class="hr-dotted" />

    <dl class="d-lg-table">
        <dt>
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmpName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmpMail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmpMail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DOJ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DOJ)
        </dd>
      
        <dt>
            @Html.DisplayFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-action no-color">
            <center> <input type="submit" value="Delete" clss="btn btn-danger" /> </center>
            <a class="btn btn-primary btn-sm" href="@Url.Action("Delete")">Back</a>
        </div>
    }
</center>
