@model IEnumerable<ProjectPet.Models.Customer>

@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/AdminLayout.cshtml";

}


<body>
    <header>
        <div class="container_12">
            <div class="grid_12">
                <h1><img src="~/images/logo.png" alt=""> </h1>
                <div class="menu_block">
                    <nav>
                        <ul class="sf-menu">
                            <li> @Html.ActionLink("Home", "Admin", "Home")</li>
                            <li class="current"> @Html.ActionLink("Customers", "Customer", "Customer")</li>
                            <li >
                                @Html.ActionLink("Employees", "Emp", "Employee")
                            </li>
                            <li> @Html.ActionLink("Items", "Item", "Item")</li>
                            <li> @Html.ActionLink("Billing", "Employ", "Home")</li>
                            <li> @Html.ActionLink("Pets", "ViewPet", "Pet")</li>
                        </ul>
                    </nav>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </header>
</body>
<style>
    h3 {
        font: bold 100% sans-serif;
        letter-spacing: 0.5em;
        text-align: center;
        text-transform: uppercase;
        color: black;
        font-size: large;
    }
    table{
        border: 1px solid black;
    }

    td, th {
        border: 1px solid black;
        padding: 10px;
    }

    table{
        border-collapse: collapse;
        width:50%;
    }
    td{
        text-align: center;
    }
    th {
        font-size: 15px;
        color: black;
    }
</style>
<center>
    <div>
        <div>
            <br />
<div class="Container border-r-0 bg-purple-700">
    <h3>Customer Details</h3>
</div>
<hr class="hr-dotted" />
<div class="Container well">


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <br />
            <a class=" btn btn-primary btn-sm" href="@Url.Action("Create")">Create</a>
            <br />
           

        </div>
    </div>
</div>
<br />
            <br />

<table class="table" style="width:100%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerPhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </th>
        <th>
            Action
        </th>
       
    </tr>
    @foreach (var Cust in Model)  
    {
        <tr>
            <td  style="padding: 50px 5px 50px 5px">
                @Html.DisplayFor(modelItem => Cust.CustomerId)
            </td>
            <td  style="padding: 50px 5px 50px 5px">
                @Html.DisplayFor(modelItem => Cust.CustomerName)
            </td>
            <td  style="padding: 50px 5px 50px 5px">
                @Html.DisplayFor(modelItem => Cust.CustomerMail)
            </td>
            <td  style="padding: 50px 5px 50px 5px">
                @Html.DisplayFor(modelItem => Cust.CustomerGender)
            </td>
            <td  style="padding: 50px 5px 50px 5px">
                @Html.DisplayFor(modelItem => Cust.CustomerPhoneNo)
            </td>
            <td  style="padding: 50px 5px 50px 5px">
                @Html.DisplayFor(modelItem => Cust.CustomerAddress)
            </td>
            <td>
                <a class="btn btn-primary btn-sm" href="@Url.Action("Edit",Cust)">Edit</a>
                <a class="btn btn-primary btn-sm" href="@Url.Action("Delete",Cust)">Delete</a>

            </td>
        </tr>
    }
</table>
<iframe></iframe>
        </div>
    </div>
</center>



