@model IEnumerable<ProjectPet.Models.Pet>
@{
    ViewBag.Title = "ViewPet";

    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<body>
    <header>
        <div class="container_12">
            <div class="grid_12">
                <h1><img src="~/images/logo.png" alt=""> </h1>
                <div class="menu_block">
                    <nav>
                        <ul class="sf-menu">
                            <li> @Html.ActionLink("Home", "Admin","Home")</li>
                            <li> @Html.ActionLink("Customers", "Customer", "Customer")</li>
                            <li>
                                @Html.ActionLink("Employees", "Emp", "Employee")
                            </li>
                            <li> @Html.ActionLink("Items", "Item", "Item")</li>
                            <li> @Html.ActionLink("Billing", "Employ", "Home")</li>
                            <li class="current"> @Html.ActionLink("Pets", "ViewPet", "Pet")</li>
                        </ul>
                    </nav>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </header>
</body>

<style>
    h3 {
        font: bold 100% sans-serif;
        letter-spacing: 0.5em;
        text-align: center;
        text-transform: uppercase;
        color: black;
        font-size: large;
    }

    table, td, th {
        border: 1px solid black;
    }

    table {
        border-collapse: collapse;
        width: 50%;
    }

    td {
        text-align: center;
    }

    th {
        font-size: 15px;
        color: black;
    }
</style>
<center>
    <br />
    <div class="Container border-r-0 bg-purple-700">
        <h3>Pet Details</h3>
    </div>
    <hr class="hr-dotted" />
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <br />
            <a class=" btn btn-primary btn-sm" href="@Url.Action("CreatePet")">Create</a>
            <br />


        </div>
    </div>
    <br />
    <br />

    <table class="table" style="width:100%">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.PetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th>

            </th>

        </tr>
        @foreach (var img in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => img.PetId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => img.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => img.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => img.Breed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => img.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => img.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => img.image)
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" href="@Url.Action("EditPet",img)">Edit</a>
                    <a class="btn btn-primary btn-sm" href="@Url.Action("DeletePet",img)">Delete</a>

                </td>
            </tr>
        }
    </table>
</center>
